<!DOCTYPE html>
<html>
    <head>
        <title>
            {% now "N d, o" %}
        </title>
        <meta http-equiv="refresh" content="60">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}" />
    </head>

    <body>
        <header>
            <h1>
                {% now "N d, o" %}
            </h1>
        </header>

        <div class="frame">
            <nav class="bar_left">
                <p><a href="{% url 'polls:index' %}">Back</a></p>
            </nav>
            <nav class="bar_right">
                <p><a href="{% url 'polls:index' %}">Back</a></p>
            </nav>
            <nav class="bar_center">
                <p>
                   Current Local Time: {% now "H:i" %}
                </p>
            </nav>
        </div>

        <div class="frame">
            <section>
                <p><em>
                    Feedback can only be submitted from 
                    {{ feedback_open_time|time:"H:i" }} to
                    {{ feedback_close_time|time:"H:i" }} local time.
                </em></p>
            </section>
            <nav class="aside">
                <p><a href="{% url 'polls:statistics' %}">
                Statistics</a></p>
                <p><a href="{% url 'polls:vote_history_index' %}">
                Vote History</a></p>
                <p><a href="{% url 'polls:feedback_history' %}">
                Feedback History</a></p>
            </nav>
        </div>

        <div class="frame">
            <footer class="bar_left">
                <p><a href="{% url 'polls:index' %}">Back</a></p>
            </footer>
            <footer class="bar_right">
                <p><a href="{% url 'polls:index' %}">Back</a></p>
            </footer>
            <footer class="bar_center">
                <p>&nbsp;</p>
            </footer>
        </div>
    </body>
</html>
