{% extends "polls/base_no_nav_sidebar.html" %}

{% block title %}
    Feedback History
{% endblock %}

{% block header %}
    Feedback History
{% endblock %}

{% block section %}

    {% if feedback_list %}
        <table class="statistics" style="width: 95%;">
            <tr style="background-color: #dddddd;">
                <th class="statistics" style="text-align: left;padding:1em;">Date</th>
                <th class="statistics">Restaurant</th>
                <th class="statistics">Mark</th>
            </tr>
        {% for feedback in feedback_list %}
            <tr>
                <td  class="statistics"style="text-align: left"><strong>{{ feedback.ballot.date }}</strong></td>
                <td class="statistics">{{ feedback.ballot.winner }}</td>
                <td class="statistics">{{ feedback.mark }}</td>
            </tr>
            <tr style="border-bottom: 1pt solid black;">
                <td class="statistics" colspan="3" style="text-align: left; padding-bottom: 1em;"><em>{{ feedback.comment }}</em></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No feedback available.</p>
    {% endif %}

{% endblock %}
