<!DOCTYPE html>
<html>
    <head>
        <title>
            {% now "N d, o" %}
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}" />
    </head>

    <body>
        <header>
            <h1>
                {% now "N d, o" %}
            </h1>
        </header>

        <div class="frame">
            <nav class="bar_left">
                <p><a href="{% url 'polls:index' %}">Back</a></p>
            </nav>
            <nav class="bar_right">
                <p><a href="{% url 'polls:index' %}">Back</a></p>
            </nav>
            <nav class="bar_center">
                <p>&nbsp;</p>
            </nav>
        </div>

        <div class="frame">
            <section style="width: 100%;">

            {% if error_message %}

                <p><strong>{{ error_message }}</strong></p>

            {% else %}

                <form action="{% url 'polls:feedback' %}" method="post">
                    {% csrf_token %}
                    {% for mark in feedback_marks %}
                        <input type="radio" name="mark" id="mark{{ forloop.counter }}" value="{{ mark.value }}" required/>
                        <label for="mark{{ forloop.counter }}">{{ mark.phrase }}</label><br />
                    {% endfor %}
                    <p>Please leave a comment (optional):</p>
                    <textarea rows="4" cols="100" name="comment"></textarea>
                    <br><br>
                    <input type="submit" value="Submit" />
                    <br>
                </form>
            {% endif %}

            </section>
        </div>

        <div class="frame">
            <footer class="bar_left">
                <p><a href="{% url 'polls:index' %}">Back</a></p>
            </footer>
            <footer class="bar_right">
                <p><a href="{% url 'polls:index' %}">Back</a></p>
            </footer>
            <footer class="bar_center">
                <p>&nbsp;</p>
            </footer>
        </div>
    </body>
</html>
