<!DOCTYPE html>
<html>
    <head>
        <title>
            Statistics
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}" />
    </head>

    <body>
        <header>
            <h1>
                Statistics
            </h1>
        </header>

        <div class="frame">
            <nav class="bar_left">
                <p><a href="{% url 'polls:index' %}">Back</a></p>
            </nav>
            <nav class="bar_right">
                <p><a href="{% url 'polls:index' %}">Back</a></p>
            </nav>
        {% if stat %}
            <nav class="bar_center">
                <p>from {{ from_ballot_date }} to {{ to_ballot_date }}</p>
            </nav>
        {% endif %}
        </div>

        <div class="frame">
            <section style="padding: 1em;
                            width: 100%;">

            {% if stat %}

                <h2>General Statistics</h2>

                <table class="statistics">
                    <tr class="statistics">
                        <th class="statistics" style="text-align: left;">Restaurant</th>
                        <th class="statistics">Victories</th>
                        <th class="statistics">Mark</th>
                        <th class="statistics">Feedback Number</th>
                        <th class="statistics">Parity</th>
                        <th class="statistics">Votes</th>
                    </tr>
                {% for x in stat %}
                    <tr class="statistics">
                        <td class="statistics" style="text-align: left;">{{ x.name }}</td>
                        <td class="statistics">{{ x.win }}</td>
                        <td class="statistics">{{ x.mark }}</td>
                        <td class="statistics">{{ x.feedback_num }}</td>
                        <td class="statistics">{{ x.parity }}</td>
                        <td class="statistics">{{ x.vote }}</td>
                    </tr>
                {% endfor %}
                </table>
                <br>

                <h2>Victory Cause</h2>

                <table class="statistics" style="width:95%;">
                    <tr class="statistics">
                        <th class="statistics" style="text-align: left;">Restaurant</th>
                        <th class="statistics">Majority Vote</th>
                        <th class="statistics">Best Feedback</th>
                        <th class="statistics">Most Rated</th>
                        <th class="statistics">Random Same Feedback</th>
                        <th class="statistics">Random No Feedback</th>
                    </tr>
                {% for x in stat %}
                    <tr class="statistics">
                        <td class="statistics" style="text-align: left;">{{ x.name }}</td>
                        <td class="statistics">{{ x.majority }}</td>
                        <td class="statistics">{{ x.feedback }}</td>
                        <td class="statistics">{{ x.most_rated }}</td>
                        <td class="statistics">{{ x.rand_feedback }}</td>
                        <td class="statistics">{{ x.rand_no_feedback }}</td>
                    </tr>
                {% endfor %}
                </table>
                <br>

            {% else %}

                <p>No statistics are available.</p>

            {% endif %}
            </section>
        </div>

        <div class="frame">
            <footer class="bar_left">
                <p><a href="{% url 'polls:index' %}">Back</a></p>
            </footer>
            <footer class="bar_right">
                <p><a href="{% url 'polls:index' %}">Back</a></p>
            </footer>
            <footer class="bar_center">
                <p>&nbsp;</p>
            </footer>
        </div>
    </body>
</html>
