<!DOCTYPE html>
<html>

    <head>
        <title>
            {% now "N d, o" %}
        </title>
        <meta http-equiv="refresh" content="60">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}" />
    </head>

    <body>
        <header>
            <h1>
                {% now "N d, o" %}
            </h1>
        </header>

        <div class="frame">
            <nav class="bar_left">
                <p>&nbsp;</p>
            </nav>
            <nav class="bar_right">
                <p>&nbsp;</p>
            </nav>
            <nav class="bar_center">
                <p>Current Local Time: {% now "H:i" %}</p>
            </nav>
        </div>

        <div class="frame">
            <section>

                <br>

                <ul class="tab">
                    <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'feedback_history')" id="defaultOpen">Feedback History</a></li>
                    <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'win_history')">Win History</a></li>
                    <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'wins')">Wins</a></li>
                </ul>

                {% load static %}

                <div id="feedback_history" class="tabcontent">
                    <img src="{% static "polls/images/feedback_graph.png" %}" alt="feedback_graph" style="display: block; margin: 0 auto; margin-top: 20px; margin-bottom: 20px"/>
                </div>

                <div id="win_history" class="tabcontent">
                    <img src="{% static "polls/images/win_history_graph.png" %}" alt="win_history_graph" style="display: block; margin: 0 auto; margin-top: 20px; margin-bottom: 20px"/>
                </div>

                <div id="wins" class="tabcontent">
                    <img src="{% static "polls/images/win_graph.png" %}" alt="win_history_graph" style="display: block; margin: 0 auto; margin-top: 20px; margin-bottom: 20px"/>
                </div>

            </section>

            <nav class="aside">
                <p><a href="{% url 'polls:statistics' %}">
                Statistics</a></p>
                <p><a href="{% url 'polls:vote_history_index' %}">
                Vote History</a></p>
                <p><a href="{% url 'polls:feedback_history' %}">
                Feedback History</a></p>
            </nav>
        </div>

        <div class="frame">
            <footer class="bar_left">
                <p>&nbsp;</p>
            </footer>
            <footer class="bar_right">
                <p>&nbsp;</p>
            </footer>
            <footer class="bar_center">
                <p><em>
                Poll opens at {{ poll_open_time|time:"H:i" }} 
                and closes at {{ poll_close_time|time:"H:i" }} local time.
                </em></p>
            </footer>
        </div>

        <script src="{% static 'polls/tab_script.js' %}"></script>

    </body>

</html>
