{% extends "polls/base_nav_sidebar.html" %}


{% block section %}

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<div style="border: 1px solid black;
            padding: 2em;
            padding-left: 3em;">

    <form action="{% url 'polls:vote' %}" method="post">

        {% csrf_token %}

        {% for restaurant in ballot.restaurant_set.all %}
            <input type="radio" name="restaurant" id="restaurant{{ forloop.counter }}" value="{{ restaurant.id }}" />
            <label for="restaurant{{ forloop.counter }}">{{ restaurant.name }}</label><br />
        {% endfor %}

        <br>
        <input type="submit" value="Vote" />

    </form>

</div>

{% endblock %}


{% block footer_bar_center %}

<p><em>Poll closes at {{ poll_close_time|time:"H:i" }} local time.</em></p>

{% endblock %}
