{% extends "polls/base_no_nav_sidebar.html" %}

{% block title %}
    Vote History Index
{% endblock %}

{% block header %}
    Vote History Index
{% endblock %}

{% block section %}

    {% if ballot_list %}

        <table class="result" style="padding-left:3em; padding-top: 1em; padding-bottom: 2em">
            <tr>
                <th style="padding-right: 5em;
                           padding-bottom: 1em;">
                    Date
                </th>
                <th style="padding-right: 5em;
                           padding-bottom: 1em;">
                    Winner
                </th>
                <th style="padding-right: 5em;
                           padding-bottom: 1em;">
                    Victory Cause
                </th>
            </tr>
        {% for ballot in ballot_list %}
             <tr>
                <td style="padding-right: 5em;
                           padding-bottom: 0.2em;">
                    <a href="{% url 'polls:vote_result_history' ballot.id %}">{{ ballot.date }}</a>
                </td>
                <td style="padding-right:5em">
                    {{ ballot.winner }}
                </td>
                <td style="padding-right:5em">
                    {{ ballot.win_cause }}
                </td>
            </tr>
        {% endfor %}
        </table>

    {% else %}

        <p>No polls are available.</p>

    {% endif %}

{% endblock %}
