<!DOCTYPE html>
<html>
    <head>
        <title>
            {% now "N d, o" %}
        </title>
        <meta http-equiv="refresh" content="15">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}" />
    </head>
    <body>
        <header>
            <h1>
                {% now "N d, o" %}
            </h1>
        </header>

        <div class="frame">
            <nav class="bar_left">
                <p>&nbsp;</p>
            </nav>
            <nav class="bar_right">
                <p>&nbsp;</p>
            </nav>
            <nav class="bar_center">
                <p>
                   Current Local Time: {% now "H:i" %}
                </p>
            </nav>
        </div>

        <div class="frame">
            <section>
                <h2>Total votes: {{ total_votes }}</h2>
            </section>
            <nav class="aside">
                <p><a href="{% url 'polls:index' %}">
                Vote</a></p>
            </nav>
        </div>

        <div class="frame">
            <footer class="bar_left">
                <p>&nbsp;</p>
            </footer>
            <footer class="bar_right">
                <p>&nbsp;</p>
            </footer>
            <footer class="bar_center">
                <p><em>
                    Poll closes at {{ poll_close_time|time:"H:i" }} local time.
                </em></p>
            </footer>
        </div>
    </body>
</html>
