div.frame {
    clear: both;
    border: 1px solid black;
    overflow: hidden;
    margin-bottom: -1px;
}

header {
    border: 1px solid black;
    text-align: center;
    margin-bottom: -1px;
}

.bar_left {
    clear: both;
    float: left;
    width: 15%;
    padding-left: 1em;
}
.bar_right {
    float: right;
    width: 15%;
    text-align: right;
    padding-right: 1em;
}
.bar_center {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

nav.aside {
    float: left;
    border-left: 1px solid black;
    width: 20%;
    padding-left: 1em;
    overflow: auto;
}

section {
    clear: both;
    float: left;
    border-right: 1px solid black;
    margin: -1px;
    padding: 1em;
    overflow: auto;
}

table.result {
    border-collapse: collapse;
}
tr.result {
    border-bottom: 1px solid black;
}

table.statistics, th.statistics, td.statistics {
    border-collapse: collapse;
    margin-bottom: -1px;
    padding-left: 1em;
    text-align: center;
}
tr.statistics:nth-child(even) {
    background-color: #dddddd;
}


ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Float the list items side by side */
ul.tab li {
    float: left;
}
/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.2em;
}
/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
}
